.container {
    padding: 24px;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
  
.main {
}

.footer {
    margin-top: 10px;
    text-align: center;
    font-size: 0.75rem;
}
  